@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
/** ============== global style ================ */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

/* hide scroll bar if needed */
.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* remove 'X' from input box to clear the text*/
input::-ms-clear {
  display: none;
}

/* remove link underline */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* remove arrow from select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-indent: 1px; */
  /* text-overflow: ''; */
}

::-moz-selection {
  color: none;
}

::selection {
  color: none;
}

ul,
ol {
  list-style: none;
}

/** ============ start  custom style ============ */
body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  overflow-x: hidden;
}

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

.hover-effect {
  position: relative;
}
.hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 25px;
  left: 0;
  padding-bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) bottom/var(--d, 0) 3px no-repeat;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 3px no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hover-effect:hover {
  --d: 90%;
}

.header {
  color: hsl(0deg, 0%, 100%);
  background-image: url(../images/desktop/image-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top_logo {
  z-index: 20;
  width: 205px;
}
.header__top_logo img {
  width: 100%;
}
.header__top_hamburger {
  z-index: 20;
  display: none;
}
.header__heading {
  font-size: 40px;
  text-transform: uppercase;
  border: 2px solid hsl(0deg, 0%, 100%);
  padding: 40px 35px 25px 25px;
  max-width: 700px;
  line-height: 190%;
  letter-spacing: -0.045em;
  margin-bottom: 88px;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main__top {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 65%;
}
.main__top_text {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 10% 0 0 10%;
}
.main__top_text h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 30px;
}
.main__top_text p {
  color: hsl(0deg, 0%, 41%);
  line-height: 175%;
  letter-spacing: 0.03em;
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}
.main__inner_text {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__inner_text .heading {
  font-size: 3.2rem;
}
.main__inner_text a {
  padding: 10px 40px;
  border: 2px solid hsl(0deg, 0%, 0%);
  letter-spacing: 0.3em;
  color: hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 100%);
}
.main__inner_text a:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
}

.cards {
  margin-bottom: 180px;
}
.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: hsl(0deg, 0%, 100%);
  gap: 30px;
}
.cards__item {
  height: 480px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 255px;
          flex: 1 0 255px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  background-position: center center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.cards__item:hover {
  background-size: 120%;
  background-position: center top;
}
.cards__item:hover h4 {
  text-shadow: 4px 4px 12px #FFFFFF, 4px -4px 12px #FFFFFF, -4px 4px 12px #FFFFFF, -4px -4px 12px #FFFFFF;
}
.cards__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(245, 245, 245, 0)));
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(245, 245, 245, 0) 100%);
}
.cards__item h4 {
  font-size: 2rem;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cards__item:nth-child(1) {
  background-image: url(../images/desktop/image-deep-earth.jpg);
}
.cards__item:nth-child(2) {
  background-image: url(../images/desktop/image-night-arcade.jpg);
}
.cards__item:nth-child(3) {
  background-image: url(../images/desktop/image-soccer-team.jpg);
}
.cards__item:nth-child(4) {
  background-image: url(../images/desktop/image-grid.jpg);
}
.cards__item:nth-child(5) {
  background-image: url(../images/desktop/image-from-above.jpg);
}
.cards__item:nth-child(6) {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
}
.cards__item:nth-child(7) {
  background-image: url(../images/desktop/image-curiosity.jpg);
}
.cards__item:nth-child(8) {
  background-image: url(../images/desktop/image-fisheye.jpg);
}

.footer {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
.footer__container {
  min-height: 160px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo {
  max-width: 145px;
}
.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__left .nav-links {
  gap: 30px;
}
.footer__right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__right .social-links {
  gap: 1rem;
}
.footer__right .social-links img {
  vertical-align: bottom;
}
.footer__right_cop {
  color: hsl(0deg, 0%, 41%);
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
  }
  .header__top_hamburger {
    display: unset;
  }
  .header__heading {
    font-size: 5.3vw;
  }
  .nav {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }
  .nav__content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 10%;
  }
  .nav__content_item {
    font-size: 2rem;
    display: inline;
  }
  .hover-effect::after {
    top: 40px;
  }
}