@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/** ============== global style ================ */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    border-style: none;
    object-fit: cover;
    max-width: 100%;
}

/* hide scroll bar if needed */

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
    display: none;
}


/* remove link underline */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/* remove arrow from select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    /* text-overflow: ''; */
}

// remove blue highlighting 
::selection {
    color: none;
    // background: rgba(0, 0, 255, 0.1);
}

// remove links style

ul,
ol {
    list-style: none;
}

/** ============ start  custom style ============ */

body {
    font-size: 15px;
    font-family: 'Alata',
        sans-serif;
    // height: 400vh;
    overflow-x: hidden;
}

.heading {
    font-family: 'Josefin Sans',
        sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%; // 
}


.hover-effect {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        top: 25px;
        left: 0;
        padding-bottom: 10px;
        background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 3px no-repeat;
        transition: 0.5s;
    }

    &:hover {
        --d: 90%;
    }
}

.header {
    color: $white;
    background-image: url(../images/desktop/image-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_logo {
            width: 205px;

            img {
                width: 100%;
            }
        }

        &_hamburger {
            display: none;
        }
    }

    &__heading {
        font-size: 40px;
        text-transform: uppercase;
        border: 2px solid $white;
        padding: 40px 40px 25px;
        width: 695px;
        line-height: 190%;
        letter-spacing: -0.045em;
        margin-bottom: 88px;
    }
}



.nav {

    &__content {
        display: flex;
        gap: 30px;

        // &_item {
        //     background:linear-gradient(currentColor 0 0) bottom /var(--d, 0) 2px no-repeat;
        //     transition: 0.5s;

        //     &:hover {
        //         --d: 100%;

        //     }
        // }

    }

}



.main {
    &__top {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        background-image: url(../images/desktop/image-interactive.jpg);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 65%;

        &_text {
            background-color: white;
            flex: 0 1 50%;
            padding: 10% 0 0 10%;

            h2 {
                font-size: 50px;
                text-transform: uppercase;
                letter-spacing: 0.015em;
                margin-bottom: 30px;
            }

            p {
                color: $gray;
                line-height: 175%;
                letter-spacing: 0.03em;
            }
        }


    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;

        &_text {
            height: 50vh;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            align-items: center;

            .heading {
                font-size: 3.2rem;
            }

            a {
                padding: 10px 40px;
                border: 2px solid $black;
                letter-spacing: 0.3em;
                color: $black;
                background-color: $white;

                &:hover {
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }
}

.cards {
    margin-bottom: 180px;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: $white;
        gap: 30px;
    }

    &__item {
        height: 480px;
        flex: 1 0 255px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(245, 245, 245, 0) 100%)
        }

        h4 {
            font-size: 2rem;
            z-index: 10;
        }

        &:nth-child(1) {
            background-image: url(../images/desktop/image-deep-earth.jpg);
        }

        &:nth-child(2) {
            background-image: url(../images/desktop/image-night-arcade.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/desktop/image-soccer-team.jpg);
        }

        // Grid new text
        &:nth-child(4) {
            background-image: url(../images/desktop/image-grid.jpg);
        }

        &:nth-child(5) {
            background-image: url(../images/desktop/image-from-above.jpg);
        }

        &:nth-child(6) {
            background-image: url(../images/desktop/image-pocket-borealis.jpg);
        }

        &:nth-child(7) {
            background-image: url(../images/desktop/image-curiosity.jpg);
        }

        &:nth-child(8) {
            background-image: url(../images/desktop/image-fisheye.jpg);
        }
    }
}


.footer {
    background-color: $black;
    color: $white;

    &__container {
        min-height: 160px;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
    }

    &__links {
        display: flex;
    }

    &__logo {
        max-width: 145px;
    }

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__left {
        align-items: flex-start;

        .nav-links {
            gap: 30px;
        }
    }

    &__right {
        align-items: flex-end;


        .social-links {
            img {
                vertical-align: bottom;
            }

            gap: 1rem;
        }

        &_cop {
            color: $gray;
        }
    }
}